
<div id="content">

<div class="contextual">
<%= form_tag({:controller=>"device_inventory", :action=>"index"}, {:method=>"get"}) do %>
  <%= hidden_field_tag 'tenant', @tenant %>
  <%= hidden_field_tag 'platform', @platform %>
  <%= hidden_field_tag 'node',   @node %>
  <%= t('device') %>
  <%= select :device, :id,
             @devices.map{|d| [d['platform_name'] + ':' + d['metric_name'], d['metric_id']]},
             { :include_blank => true },
             {:onchange => "this.form.submit()", :id => "project_quick_jump_box" }
  %>
<% end %>
</div>

<h2><%= t('inventory') %></h2>

<%= form_tag({:action=>"index"}, {:method=>"get"}) do %>
  <%= t('tenant') %> <input name="tenant" value="<%=h @tenant %>"/>
  <%= t('platform') %> <input name="platform" value="<%=h @platform %>"/>
  <%= t('node') %>   <input name="node"   value="<%=h @node   %>"/>
  <%= t('metric') %> <input name="metric" value="<%=h @metric %>"/>
  <%= submit_tag "検索" %>
<% end %>

<table  class="inventory list">
  <thead>
    <tr>
      <th><%= t('tenant') %></th>
      <th><%= t('platform') %></th>
      <th><%= t('node') %></th>
      <th><%= t('metric') %></th>
      <th><%= t('value') %></th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td class="status"><%= inventory.node.tenant.tenant_name %></td>
        <td class="status"><%= inventory.metric.platform.platform_name %></td>
        <td class="name"><%= inventory.node.node_name %></td>
        <td class="name"><%= inventory.metric.metric_name %></td>
        <td class="subject"><%= inventory.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @inventories %>

</div>