<% if (@tag) then %>
  <%= label_tag(:q, "Tag for:") %>
  <%= link_to @tag.tag_name, edit_tag_path(@tag), :class => 'btn btn-primary' %>
<% end %>

<%= simple_form_for @node, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :group, label_method: :group_name %>
  <%= f.input :node_name %>
  <%= f.input :ip %>
  <%= f.input :specific_password %>
  <%= f.input :alias_name %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t(:platform_name) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @platforms.each do |platform| %>
        <tr>
          <td><%= platform.platform_name %></td>
          <td>
            <%= check_box_tag :platform_ids, platform.id, @node.platforms.include?(platform),
                              :name => 'node[platform_ids][]' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nodes_path, :class => 'btn btn-default' %>
<% end %>
