<%= simple_form_for @node, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :tenant, label_method: :tenant_name, value_method: :id %>
  <%= f.input :node_name %>
  <%= f.input :ip %>
  <div class="field">
    <%= f.fields_for :node_configs do |nc| %>
      <%= nc.label 'ジャンル' %><br>
      <%= nc.collection_select :platform_id, Platform.all, :id, :platform_name %>
    <% end %>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nodes_path, :class => 'btn btn-default' %>
<% end %>
